@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Global Colors
$gen-blue: #003578;
$darkest: #262626;
$dark-grey: #505050;
$grey: #ababab;
$light-grey: #f3f3f3;

// Global Fonts
$fancy-text: "Average", serif;
$plain-text: "Montserrat", sans-serif;
$wildcard-text: "Raleway", sans-serif;

// Global Sizes
$inner-width: 945px;
$outer-width: 1440px;

// Global Styles
h2 {
  color: $gen-blue;
  font-family: $fancy-text;
  font-size: 34px;
  letter-spacing: 0.35px;
  line-height: 37px;
  text-align: center;
}

.hidden {
  display: none !important;
}

.button {
  border-radius: 24px;
  background-color: $gen-blue;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0);
    color: $gen-blue;
    border: 1px solid $gen-blue;
  }
}

// Page Containers
.page-container {
  max-width: $outer-width;
  width: 90%;
  margin: 0 auto;
}

.inner-container {
  max-width: $inner-width;
  display: flex;
  margin: auto;
}

header {
  // Mobile Nav
  .burgerIcon {
    position: absolute;
    right: 0;
    display: none;
  }

  .mobi-nav {
    display: none;
    position: absolute;
    border: 0.1px solid rgba($color: #000000, $alpha: 0.1);
    background-color: white;
    z-index: 100;
    right: 0;
    padding: 20px;
    ul {
      list-style: none;
      margin: 0;
      &:nth-of-type(2) {
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
      li {
        color: $dark-grey;
        a {
          color: $dark-grey;
          &:hover {
            color: $gen-blue;
            transform: color 0.5s;
          }
        }
      }
    }
  }

  // Top Nav
  .top-bar {
    height: 40px;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 15px;
    color: $dark-grey;
    font-family: $plain-text;
    .menu-text {
      position: relative;
      cursor: pointer;
      &:hover {
        &:before {
          content: "";
          position: absolute;
          height: 30px;
          width: 30px;
          transform: rotate(45deg);
          top: 37px;
          right: 25px;
          background-color: white;
          border: 0.1px solid rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
    a {
      color: $dark-grey;
      &:hover {
        color: $gen-blue;
        transition: color 0.5s;
      }
    }
  }

  // Minicart
  .mini-cart {
    border: 0.1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 15px;
    background-color: white;
    position: absolute;
    z-index: 10;
    height: 273px;
    width: 394px;
    top: 39px;
    right: 15px;
    h3 {
      color: #0e0e10;
      font-family: $plain-text;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
    }
    a {
      color: $gen-blue;
      font-family: $plain-text;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      text-decoration: underline;
      padding: 0;
    }
    h4 {
      color: #2d2d37;
      font-weight: bolder;
      font-family: $wildcard-text;
      font-size: 13px;
    }
    .mini-sec-one {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .mini-sec-two {
      border-top: 2px double $light-grey;
      border-bottom: 2px double $light-grey;
      display: flex;
      padding: 10px 0;
      div {
        &:nth-of-type(1) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
        }
        &:nth-of-type(2) {
          flex: 1;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          justify-content: space-between;
          padding: 5px;
        }
      }
    }
    .mini-sec-three {
      margin: 15px 0;
      display: flex;
      justify-content: space-between;
      span {
        display: flex;
      }
    }
    button {
      height: 48px;
      width: 360px;
    }
  }

  // Mid Strip
  .mid-strip {
    justify-content: space-around;
    align-items: center;
    margin: 16px auto;

    .search-bar {
      box-sizing: border-box;
      height: 53px;
      max-width: 355px;
      border: 1px solid #c7c7c7;
      border-radius: 100px;
      margin: 12px 0;
    }

    .grouped {
      display: flex;

      .info-cont {
        display: flex;
        align-items: center;
        margin: 0 8px;
        img {
          margin-right: 10px;
        }
        h4 {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.44px;
          line-height: 18px;
          color: $dark-grey;
          font-family: $plain-text;
        }
        p {
          font-size: 12px;
          letter-spacing: 0.33px;
          line-height: 18px;
          color: $grey;
          font-family: $plain-text;
        }
      }
    }
  }

  // Navbar
  .nav-bar {
    height: 46px;
    width: 100%;
    background-color: $gen-blue;
    display: flex;
    align-items: center;
    ul {
      margin: auto;
      width: $inner-width;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none;
      li {
        text-align: center;
        width: 14.2%;
        border-left: 1.6px solid rgba($color: #ffffff, $alpha: 0.1);
        text-transform: uppercase;
        &:nth-of-type(1) {
          border: none;
        }
      }
      a {
        color: white;
        font-family: $plain-text;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 18px;
      }
    }
  }

  //Header banner
  .banner {
    position: relative;
    height: 37.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      top: 0;
      z-index: 0;
    }
    .inner-banner {
      position: relative;
      z-index: 1;
      width: 598px;
      height: 214px;
      padding-top: 10px;
      background-color: rgba($color: #ffffff, $alpha: 0.95);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      span {
        &:nth-of-type(1) {
          position: relative;
          width: 47%;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            width: 200px;
            position: relative;
            background-color: white;
            color: $grey;
            text-align: center;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0.44px;
            line-height: 37px;
          }
          hr {
            position: absolute;
            background-color: $grey;
            height: 0.8px;
            width: 100%;
            top: -7%;
          }
        }

        &:nth-of-type(2) {
          color: $dark-grey;
          display: flex;
          letter-spacing: 0.5px;
          h3 {
            font-family: $plain-text;
            font-size: 14px;
            font-weight: bolder;
            text-align: center;
            margin-right: 4px;
          }
          p {
            font-family: $plain-text;
            font-size: 12px;
          }
        }
      }
      button {
        height: 45px;
        width: 192px;
      }
    }
  }
}

// Header media queries
@media (max-width: 1045px) {
  .mid-strip {
    flex-direction: column;
  }
  .disappear {
    display: none;
  }
}

@media (max-width: 740px) {
  .page-container {
    width: 100%;
  }
  header {
    .banner {
      height: 41.7vw;

      .inner-banner {
        width: 520px;
        height: 190px;
      }
    }
  }
}

@media (max-width: 650px) {
  header {
    .mobi-nav {
      display: block;
    }
    .top-bar {
      display: none;
    }
    .nav-bar {
      display: none;
    }
    .banner {
      img {
        display: none;
      }
    }
    .burgerIcon {
      display: block;
    }
    .mini-cart {
      top: 330px;
      right: 30px;
    }
  }
}

@media (max-width: 410px) {
  .grouped {
    flex-direction: column;
    .info-cont {
      margin-top: 10px !important;
    }
  }
  .banner {
    margin: 100px 0;
  }
}

.article-one {
  max-width: $inner-width;
  margin: 15px auto;
  // Header text
  .text-cont {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    span {
      position: relative;
      width: 47%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        width: 100px;
        position: relative;
        background-color: white;
        color: $grey;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.44px;
        line-height: 37px;
      }
      hr {
        position: absolute;
        background-color: $grey;
        height: 0.8px;
        width: 170px;
        top: -7%;
      }
    }
  }

  // Product box styles
  .product {
    width: 210px;

    .product-image {
      width: 100%;
      height: 289px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 10px;
    }

    .prod-img-one {
      background-image: url("../assets/product1.jpg");
    }

    .prod-img-two {
      background-image: url("../assets/product2.jpg");
    }

    .prod-img-three {
      background-image: url("../assets/product3.jpg");
    }

    .prod-img-four {
      background-image: url("../assets/product4.jpg");
    }

    .product-price {
      background-color: $gen-blue;
      height: 35px;
      width: 73px;
      color: #ffffff;
      font-family: $plain-text;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      line-height: 35px;
      text-align: center;
    }

    p {
      &:nth-of-type(1) {
        height: 15px;
        width: 209px;
        margin: 5px 0;
        color: #ababab;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 15px;
      }
      &:nth-of-type(2) {
        height: 36px;
        width: 209px;
        color: $darkest;
        font-family: Raleway;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 18px;
      }
    }
    button {
      box-sizing: border-box;
      background-color: white;
      color: $gen-blue;
      height: 45px;
      width: 150px;
      border: 0.8px solid $gen-blue;
      margin: 15px 0 0 0;
      border-radius: 80px;
      &:hover {
        color: white;
        background-color: $gen-blue;
      }
    }
  }
}

.article-two {
  max-width: 100%;
  height: 1142px;
  display: flex;
  margin-top: 80px;

  .cell {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;

    h3 {
      height: 18px;
      color: #ffffff;
      font-family: $plain-text;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 1px;
      line-height: 18px;
    }
  }

  .cell-cont-one {
    flex: 1;
    margin-right: 14px;
    .advert-one {
      background-image: url("../assets/advert1.jpg");
      justify-content: flex-end;
      align-items: flex-end;
      .ad-text {
        width: 282px;
        h2 {
          color: white;
        }
      }
    }

    .advert-two {
      background-image: url("../assets/advert3.jpg");
      justify-content: flex-end;
      align-items: center;
      .ad-text {
        width: 252px;
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
          color: $dark-grey;
          font-family: $plain-text;
          font-size: 14px;
          letter-spacing: 0.5px;
          line-height: 20px;
          text-align: center;
          &:nth-of-type(1) {
            margin-top: 5px;
          }
        }
        button {
          height: 45px;
          width: 192px;
          margin: auto;
        }
        span {
          display: flex;
          justify-content: center;
          a {
            text-decoration: underline;
            height: 20px;
            width: 130px;
            color: $darkest;
            font-family: $plain-text;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0.5px;
            line-height: 20px;
            margin-left: 10px;
          }
        }
      }
    }
  }
  .cell-cont-two {
    flex: 1;
    margin-left: 14px;

    .advert-three {
      background-image: url("../assets/advert2.jpg");
      h2 {
        color: white;
      }
    }
    .advert-four {
      background-image: url("../assets/advert4.jpg");
      align-items: flex-end;
      background-position: bottom left;
      h2 {
        color: white;
      }
    }
  }
}

@media (max-width: 1045px) {
  .article-two {
    flex-direction: column;
    .cell-cont-one {
      margin: 0;
    }
    .cell-cont-two {
      margin: 0;
    }
  }
}

@media (max-width: 650px) {
  .cell {
    background-size: auto auto !important;
  }
}

footer {
  margin-top: 30px;
  .footer-cont-top {
    justify-content: space-around;
    figure {
      padding-left: 10px;
      width: 200px;
      border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
      &:nth-of-type(1) {
        border: none;
        padding-right: 10px;
        span {
          margin: 10px 15px 0 0;
          display: flex;
          justify-content: space-between;
        }
      }
      figcaption {
        margin-bottom: 20px;
        color: $darkest;
        font-family: $fancy-text;
        font-size: 16px;
        letter-spacing: 1.14px;
        line-height: 19px;
      }
      ul {
        list-style: none;
        margin: 0;
        li {
          color: $dark-grey;
          font-family: $plain-text;
          font-size: 12px;
          letter-spacing: 0.5px;
          cursor: pointer;
          line-height: 30px;
          &:hover {
            color: $gen-blue;
          }
          img {
            margin-right: 8px;
          }
        }
      }
    }
  }
  .footer-cont-bot {
    justify-content: space-between;
    align-items: center;
    color: $grey;
    font-family: $plain-text;
    font-size: 12px;
    line-height: 24px;
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  .right-foot {
    display: flex;
    p {
      margin: 0 8px;
    }
  }
  .left-foot {
    img {
      margin: 0 5px;
    }
  }
}

@media (max-width: 740px) {
  figure {
    &:nth-of-type(1) {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .footer-cont-top {
    flex-wrap: wrap;
  }
  figure {
    margin-bottom: 20px;
  }
}

@media (max-width: 410px) {
  footer {
    .footer-cont-top {
      text-align: center;
      figure {
        padding: 0;
        border: none;
      }
    }
    .footer-cont-bot {
      flex-wrap: wrap;
      .left-foot {
        margin-top: 10px;
      }
    }
  }
}
